<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <nav th:fragment="common-navbar">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;">
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/complaint/registration/1">Complaint</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/allocation">Work Allocation</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/view-report-list/navbar">Reports</a></li>
      <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="/logout">Logout</a></li>
    </ul>
  </nav>
</html>