<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report List</title>
    <style>
        h2 {text-align:center;}
    </style>
</head>
<body>
<h2>Report List</h2>
<div th:replace="${headerName} :: common-navbar"></div>
<div>
    <ul>
        <li>
            <a th:if="${headerName == 'navbar-lineman'}" th:href="@{/complaint/complaint-report-view/__${headerName}__/__${staffId}__}">Complaint Report</a>
            <a th:if="${headerName != 'navbar-lineman'}" th:href="@{/complaint/complaint-report-view/__${headerName}__}">Complaint Report</a>
        </li>
        <li>
            <a th:if="${headerName == 'navbar-lineman'}" th:href="@{/view-work-report/__${headerName}__/__${staffId}__}">Work Report</a>
            <a th:if="${headerName != 'navbar-lineman'}" th:href="@{/view-work-report/__${headerName}__}">Work Report</a>
        </li>
        <li>
            <a th:if="${headerName == 'navbar-lineman'}" th:href="@{/view-material-report/__${headerName}__/__${staffId}__}">Material Report</a>
            <a th:if="${headerName != 'navbar-lineman'}" th:href="@{/view-material-report/__${headerName}__}">Material Report</a>
        </li>
        <li>
            <a th:if="${headerName == 'navbar-lineman'}" th:href="@{/view-payment-report/__${headerName}__/__${staffId}__}">Payment Report</a>
            <a th:if="${headerName != 'navbar-lineman'}" th:href="@{/view-payment-report/__${headerName}__}">Payment Report</a>
        </li>
    </ul>
</div>

</body>
</html>