<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compliant Portal</title>
    <style>
        h2 {text-align:center;}
        div {text-align:center;}

    </style>
</head>
<body>
    <h2>KSEB Customer Complaint Portal</h2>
    <div>
    <table align="center" border="2">
        <tr>
            <td>
                User Name:
            </td>
            <td>
                <input type="text" id="fname" name="fname">
            </td>
        </tr>
        <!--<tr>
            <td>
                Password:
            </td>
            <td>
                <input type="text" id="fname" name="fname">
            </td>
        </tr>-->
        <tr>
            <td>
                <label for="Administrator">User Type</label>
            </td>
            <td>
                <select name="Administrator" id="Administrator">
                    <option value="Administrator">Administrator</option>
                    <option value="Line Man">Line Man</option>
                    <option value="Executive Engineer">Executive Engineer</option>
                    <option value="Material Depo Manager">Material Depo Manager</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login">
                <a href="loginpage.html"complaint portal>Test</a>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>